{% extends 'plant/base.html' %}
{% block title %}Type Details{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ type }}</h1>
    <ul>
        {% for plant in plants %}
        <!--<li><a href="{{ plant.slug }}">{{ plant.p_name }}</a></li>-->
            <li><a href="{{ plant.get_absolute_url }}">{{ plant.p_name }}</a></li>
        {% endfor %}
    </ul>
    <form action="{% url 'plant:type-delete' type.slug %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </form>
    <form action="{% url 'plant:type-update' type.slug %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </form>
</div>
{% endblock %}