{% extends 'plant/base.html' %}
{% block title %}Plant Details{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ plant }}</h1>
    <img src="{{ plant.p_img }}">
    <h3>Description:</h3>
    <p>{{ plant.p_description }}</p>
    <h3>Quantity:</h3>
    <p>{{ plant.p_quantity }}</p>

    <form action="{{ plant.get_delete_url }}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </form>
    <form action="{{ plant.get_update_url }}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </form>

</div>
{% endblock %}